---
name: flake8

on:
    pull_request:
        branches:
            - trunk
    push:
        branches:
            - trunk

jobs:
    flake8:

        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"

            - name: Upgrade pip
              run: python -m pip install --upgrade pip

            - name: Install flake8
              run: pip install flake8

            - name: Run Linter
              shell: bash
              run: python -m flake8 2>&1 | tee flake8.rpt

            - name: Save Report
              uses: actions/upload-artifact@v3
              with:
                  name: flake8.rpt
                  path: flake8.rpt
