name: radon
on:
    pull_request:
        branches:
            - trunk
    push:
        branches:
            - trunk
jobs:
    radon:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"

            - name: Upgrade pip
              run: python -m pip install --upgrade pip

            - name: Install radon
              run: pip install radon

            - name: Run Linter
              shell: bash
              run: |
                output=$(python -m radon cc . -n D)
                if [[ ! -z $output ]]; then
                    echo $output
                    exit 1
                fi
