name: yamllint
on:
    pull_request:
        branches:
            - trunk
    push:
        branches:
            - trunk
jobs:
    yamllint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Python 3.12
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"

            - name: Upgrade pip
              run: python -m pip install --upgrade pip

            - name: Install yamllint
              run: pip install yamllint

            - name: Run Linter
              shell: bash
              run: python -m yamllint --no-warnings .
